.listHotelCard {
  width: 100%;
  height: 120px;

  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style-type: none;
}
.restaurantImage {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
.hotelName {
  margin: 0px;
  font-size: 18px;
  color: #334155;
}
.hotelDetails {
  width: 100%;

  height: 100px;
  margin-left: 20px;
}
.cuisine {
  color: #64748b;
  font-size: 14px;
  margin-top: 10px;
}
.ratingCon {
  display: flex;

  align-items: center;
}
.ratingNum {
  margin: 0px;
  color: #0f172a;
  font-size: 15px;
  font-weight: bold;
  margin-left: 10px;
}
.starIcon {
  color: #ffcc00;
}
.hotelCardLink {
  width: 33%;
  height: 120px;
  text-decoration: none;
}
