.hotelDetailsContainer {
  width: 100vw;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.hotelDetailBanner {
  background-image: url('https://i.postimg.cc/WpGBZVrV/Rectangle-1399.png');
  width: 75vw;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hotelImageOnBanner {
  width: 250px;
  height: 230px;
  border-radius: 10px;
  margin-left: 20px;
}
.hotelDetailTextCon {
  width: 700px;
  height: 200px;

  margin-left: 40px;
}
.hotelDetailTitle {
  color: #ffffff;
  margin: 0px;
  font-size: 27px;
}
.hotelDetailsCuisine {
  color: #ffffff;
  margin-top: 10px;
}
.hotelDetailsBannerStar {
  color: #ffffff;
}
.whiteColor {
  color: #ffffff;
  margin: 0px;
  margin-left: 5px;
}
.hotelDetailsBannerRating {
  display: flex;
  align-items: center;
}
.hotelDetailsBannerRatingCon {
  border-right: 1px solid #ffffff;
  width: 120px;
  margin-right: 30px;
}
.hotelDetailsComplete {
  display: flex;
}
.priceContainer {
  display: flex;
  align-items: center;
}
.hotelDetailedUlCon {
  width: 75vw;
  flex-wrap: wrap;
  display: flex;
  padding-left: 0px;
  margin-top: 30px;
}
.hotelDetailsLoader {
  width: 90vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 560px) {
  .hotelImageOnBanner {
    height: 120px;
    width: 120px;
  }
  .hotelDetailBanner {
    height: 200px;
    width: 100vw;
  }
  .hotelDetailTitle {
    font-size: 18px;
  }
  .hotelDetailsCuisine {
    margin-top: 4px;
    font-size: 10px;
  }
  .hotelDetailTextCon {
    height: 150px;
    width: 200px;

    margin-left: 10px;
  }
  .hotelDetailsBannerRatingCon {
    margin-right: 10px;

    width: 80px;
    height: 50px;
  }
  .hotelDetailedUlCon {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
