.emptyCart {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60vh;
  width: 100vw;
}
@media (max-width: 560px) {
  .mobileEmptyCartImage {
    width: 250px;
    height: 300px;
  }
  .emptyCartDes {
    text-align: center;
  }
  .emptyCart {
    width: 90vw;
  }
}
